# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py,java,html,css}]
charset = utf-8

# 4 space indentation
[*.{py,html,css}]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[*.{ts,tsx,js,jsx}]
indent_style = tab

# Max 120 char line length
[*.{js,py,java,html,css}]
max_line_length = 80

# Use spaces for indentation in Markdown files
[*.md]
indent_style = space
indent_size = 2

# Override for Makefiles, which require tabs
[Makefile]
indent_style = tab
